html,body {
  height: 100%;
  margin: 0;
  font-family: 'helvetica', sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: 100%;
}
.wrapper img {
  height: 100%;
  width: auto;
}

/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 6px #fff, 0 0 10px #fff, 0 0 16px #fff, 0 0 20px #FF1177, 0 0 36px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 76px #FF1177;
  }
  to {
    text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #FF1177, 0 0 18px #FF1177, 0 0 20px #FF1177, 0 0 25px #FF1177, 0 0 38px #FF1177;
  }
}

.fa-angle-right, .fa-angle-left {
  top: 45%;
  position: fixed;
  font-size: 4em;
  color: #fff;
  opacity: 0.75;
  z-index: 10;
  cursor: pointer;
  -webkit-animation: neon1 1.15s ease-in-out infinite alternate;
  -moz-animation: neon1 1.15s ease-in-out infinite alternate;
  animation: neon1 1.15s ease-in-out infinite alternate;
}
.fa-angle-right {
  right: 0.3em;
}
.fa-angle-left {
  left: 0.3em;
}
.sound-player, #cassette-wrap, .tracklist-wrap, .credits-wrap, .shop-wrap, .neon-wrap {
  position: relative;
}
.sound-player iframe, #cassette-wrap canvas, .tracklist-wrap .tracklist, .credits, .shop, .neon-wrap img {
  position: absolute;
}
.sound-player iframe {
  top: 39%;
  left: 11em;
  z-index: 10;
}
.tracklist-wrap .tracklist {
  height: 50%;
  top: 10%;
  left: 9em;
  display: inline-block;
}
.tracklist-wrap .tracklist img {
  margin-bottom: 1.5em;
  border-radius: 1em;
}
.tracklist span {
  margin: 0 0 0 0.4em;
  background-color: rgba(0,0,0,0.6);
  padding: 0.15em 0.25em 0 0.25em;
  font-size: 2.2em;
  font-weight: 800;
  line-height: 1.3em;
}
.download {
  cursor: pointer;
}
.tracklist span.bonus {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-left: 0.58em;
  padding-bottom: 0.35em;
  font-weight: normal;
}
.download:hover {
  opacity: 0.8;
}
.buy-wrap {
  position: relative;
}
.buy {
  position: absolute;
  background-image: url('../../img/splash-tony/sunburst-blue.png');
  background-size: 100%;
  width: 11.9em;
  height:11.9em;
  transform: rotate(11deg);
  margin-left: 1em;
}
.buy:hover {
  transform: scale(1.1);
}
.buy p {
  font-size: 1.5em;
  font-weight: 800;
  position: absolute;
  top: 32%;
  width: 7.9em;
  text-align: center;
}
.shop {
  right: 3em;
  top: 3em;
  text-align: center;
  font-size: 0.6em;
  opacity: 0.75;
  cursor: pointer;
}
.shop img {
  width: 10em;
}
.shop p {
  margin: 0.5em 0;
}
.shop:hover {
  opacity: 1;
}
.credits {
  width: 100em;
  text-align: right;
  right: 0.8em;
  bottom: 0.8em;
  color: white;
  font-size: 0.8em;
  font-weight: 800;
  line-height: 1.5em;
}
img.nsp {
  height: 2em;
  width: auto;
  margin-right: 0.5em;
}

@media (min-height: 1000px) {
  body {
    font-size: 1.65em;
  }
  .buy {
    margin-left: 2em;
  }
  .tracklist span {
    line-height: 1.31em;
  }
  .tracklist span.bonus {
    line-height: 1.2em;
  }
}
